.navbar{
    background-color: rgb(52, 49, 70);
    color: white;
}

body{
    background-image: url(https://i.pinimg.com/originals/5f/5c/97/5f5c97b8435a75ec4137cad5df94371d.jpg);
}

.card {
    background-color:rgb(214, 142, 216);
    border-radius: 20px;
    box-shadow: black;
    border: black;
}

.modal-header {
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(52, 49, 70);
    color: rgb(255, 255, 255);
    text-align: center;
}
